<div class="container-fluid">
  <div class="row">
    <div class="col-2 offset-2">
      <img src="../../assets/cruz.jpg" alt="Cruz" class="img-fluid img-thumbnail">
    </div>

    <div class="col-2">
      <img src="../../assets/johncornyn.jpg" alt="John Cornyn" class="img-fluid img-thumbnail">
    </div>

    <div class="col-2">
      <img src="../../assets/johncarter.jpg" alt="John Carter" class="img-fluid img-thumbnail">
    </div>

    <div class="col-2">
      <img src="../../assets/baldwin.jpg" alt="Baldwin" class="img-fluid img-thumbnail">
    </div>
  </div>
</div>
