  <!--<li *ngFor="let item of listDonor">-->
    <!--{{item}}-->
    <h3>Top Donors</h3>
    <table class = "table table-striped">
      <thead class = "thead-dark">
      <tr>
      <th scope = "col">Donor Name</th>
      <th scope = "col">Contribution Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope = "row"><a (click) = "sendDonorName(listDonor[0]['donor'])" routerLink="/donor">{{listDonor[0]["donor"]}}</a></th>
        <td>$ {{listDonor[0]["contribution"]}}</td>
      </tr>
      <tr>
        <th scope = "row"><a (click) = "sendDonorName(listDonor[1]['donor'])" routerLink="/donor">{{listDonor[1]["donor"]}}</a></th>
        <td>$ {{listDonor[1]["contribution"]}}</td>
      </tr>
      <tr>
        <th scope = "row"><a (click) = "sendDonorName(listDonor[2]['donor'])" routerLink="/donor">{{listDonor[2]["donor"]}}</a></th>
        <td>$ {{listDonor[2]["contribution"]}}</td>
      </tr>
      </tbody>
    </table>
