  <!--<li *ngFor="let item of listDonor">-->
    <!--{{item}}-->
    <h3>Top Donors</h3>
    <table class = "table table-striped">
      <thead class = "thead-dark">
      <tr>
      <th scope = "col">Donor Name</th>
      <th scope = "col">Contribution Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope = "row">Donor 1</th>
        <td>$ 000</td>
      </tr>
      <tr>
        <th scope = "row">Donor 2</th>
        <td>$ 000</td>
      </tr>
      <tr>
        <th scope = "row">Donor 3</th>
        <td>$ 000</td>
      </tr>
      </tbody>
    </table>
