<ngb-tabset type="pills">
  <ngb-tab title="Justin">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/justin.jpg" alt="Justin" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Justin Chen</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Set up frontend framework using Angular</li>
            <li>Number of Commits: {{justinCommits}}</li>
            <li>Number of Issues: 0</li>
            <li>Number of Unit Tests: 0</li>
          </ul>
      </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Avishka">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/avishka.jpg" alt="Avishka" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Avishka Suduwa Dewage</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Set up frontend framework using Angular</li>
            <li>Number of Commits: {{avishkaCommits}}</li>
            <li>Number of Issues: 0</li>
            <li>Number of Unit Tests: 0</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Isabel">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/isabel.jpg" alt="Isabel" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Isabel Li</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Complete API to pull general data for a candidate</li>
            <li>Number of Commits: {{isabelCommits}}</li>
            <li>Number of Issues: 0</li>
            <li>Number of Unit Tests: 0</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Christine">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/christine.jpg" alt="Christine" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Christine Dao</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Complete API to pull general data for a candidate</li>
            <li>Number of Commits: {{christineCommits}}</li>
            <li>Number of Issues: 0</li>
            <li>Number of Unit Tests: 0</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Ashwin">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/ashwin.jpg" alt="Ashwin" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Ashwin Gupta</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Scraped basic data to store in SQL database</li>
            <li>Number of Commits: {{ashwinCommits}}</li>
            <li>Number of Issues: 0</li>
            <li>Number of Unit Tests: 0</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Andy">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/andy.jpg" alt="Andy" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Andy Chang</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Deployed database, hosted website on AWS, and set up URL</li>
            <li>Number of Commits: {{andyCommits}}</li>
            <li>Number of Issues: 0</li>
            <li>Number of Unit Tests: 0</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Project Statistics">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-12">
          <h3>Stats</h3>
          <ul>
            <li>Total Number of Commits: {{totalCommits}}</li>
            <li>Total Number of Unit Tests: 0</li>
            <li>Total Number of Issues: 6</li>
          </ul>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <h3>Data</h3>
          <ul>
            <li><a href = "https://ballotpedia.org/Main_Page">Ballotpedia</a></li>
            <li><a href = "https://www.propublica.org/">Propublia</a></li>
            <li><a href = "https://www.fec.gov/">FEC</a></li>
          </ul>
        </div>
      </div>

      <div class = "row">
        <div class = "col-12">
          <h3>Tools</h3>
          <ul>
            <li>Frontend - Angular, Bootstrap</li>
            <li>Backend - Node JS, Express JS, MySQL library</li>
            <li>Database - MySQL</li>
            <li>Data scraping - Python, BeautifulSoup</li>
            <li>Hosting</li>
            <ul>
              <li>Frontend is Node JS server hosted on AWS EC2</li>
              <li>Backend is not yet hosted, will be a Node JS server hosted on AWS EC2</li>
              <li>Database is MySQL hosted on AWS RDS</li>
            </ul>
            <li>Development Tools</li>
            <ul>
              <li>Frontend: Chrome, Webstorm</li>
              <li>Backend: Postman, Chrome</li>
              <li>Database: MySQL Workbench</li>
              <li>Hosting: Putty, WinSCP</li>
            </ul>

          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
