<ngb-tabset type="pills">
  <ngb-tab title="Justin">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/justin.jpg" alt="Justin" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Justin Chen</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Set up frontend webpage</li>
            <li>Number of Commits: ???</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
          <p>Insert Bio here</p>
      </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Avishka">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/avishka.jpg" alt="Avishka" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Avishka Sudawa Dewage</li>
            <li>Major: ???</li>
            <li>Responsibilities: Set up frontend webpage</li>
            <li>Number of Commits: ???</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
          <p>Insert Bio here</p>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Isabel">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/isabel.jpg" alt="Isabel" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Isabel Li</li>
            <li>Major: ???</li>
            <li>Responsibilities: ???</li>
            <li>Number of Commits: ???</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
          <p>Insert Bio here</p>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Christine">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/christine.jpg" alt="Christine" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Christine Dao</li>
            <li>Major: ???</li>
            <li>Responsibilities: ???</li>
            <li>Number of Commits: ???</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
          <p>Insert Bio here</p>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Ashwin">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/ashwin.jpg" alt="Ashwin" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Ashwin Gupta</li>
            <li>Major: ???</li>
            <li>Responsibilities: ???</li>
            <li>Number of Commits: ???</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
          <p>Insert Bio here</p>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Andy">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/andy.jpg" alt="Andy" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Andy Chang</li>
            <li>Major: ???</li>
            <li>Responsibilities: ???</li>
            <li>Number of Commits: ???</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
          <p>Insert Bio here</p>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
