<ngb-tabset type="pills">
  <ngb-tab title="Justin">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/justin.jpg" alt="Justin" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Justin Chen</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Set up frontend framework using Angular</li>
            <li>Number of Commits: {{justinCommits}}</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
      </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Avishka">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/avishka.jpg" alt="Avishka" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Avishka Suduwa Dewage</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Set up frontend framework using Angular</li>
            <li>Number of Commits: {{avishkaCommits}}</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Isabel">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/isabel.jpg" alt="Isabel" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Isabel Li</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Complete API to pull general data for a candidate</li>
            <li>Number of Commits: {{isabelCommits}}</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Christine">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/christine.jpg" alt="Christine" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Christine Dao</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Complete API to pull general data for a candidate</li>
            <li>Number of Commits: {{christineCommits}}</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Ashwin">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/ashwin.jpg" alt="Ashwin" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Ashwin Gupta</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Scraped basic data to store in SQL database</li>
            <li>Number of Commits: {{ashwinCommits}}</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Andy">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-4">
          <img src="../../assets/andy.jpg" alt="Andy" class="img-thumbnail img-fluid">
        </div>
        <div class = "col-6">
          <ul>
            <li>Name: Andy Chang</li>
            <li>Major: Software Engineering</li>
            <li>Responsibilities: Deployed database, hosted website on AWS, and set up URL</li>
            <li>Number of Commits: {{andyCommits}}</li>
            <li>Number of Issues: ???</li>
            <li>Number of Unit Tests: ???</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Project Statistics">
    <ng-template ngbTabContent>
      <div class = "row">
        <div class = "col-12">
          <h3>Stats</h3>
          <ul>
            <li>Total Number of Commits: {{totalCommits}}</li>
            <li>Total Number of Unit Tests: ??</li>
            <li>Total Number of Issues: ??</li>
          </ul>
        </div>
      </div>
      <div class = "row">
        <div class = "col-12">
          <h3>Data</h3>
          <ul>
            <li>Propublica</li>
            <li>FEC</li>
            <li>Ballotpedia (Scrape using Beautiful Soup)</li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
