<div class="container-fluid justify-content-center">
  <div class="row d-flex h-25" >
    <div class="offset-1 col-2 d-flex justify-content-center align-items-center">
      <span routerLink="/" class="badge badge-pill badge-secondary">Home</span>
    </div>
  </div>
</div>
<div class = "container">
  <div class = "row d-flex h-50 align-items-center justify-content-center">
    <h1>Candidate: {{candidateName}}</h1>
  </div>
  <br>
  <div class = "row">
    <div class = "col-2"></div>
    <div class = "col-4">
      <img src="../../assets/trump.jpg" alt="Donald Trump" class="img-fluid img-thumbnail">
    </div>
    <div class = "col-4">
      <app-topdonors [listDonor]="listDonors"></app-topdonors>
    </div>
    <div class = "col-2"></div>
  </div>
  <div class = "row">
    <div class = "col-2"></div>
    <div class = "col-4">
      <!--<app-summary></app-summary>-->
      <h3>Basic Information</h3>
      <ul>
        <li>State : {{state}}</li>
        <li>Gender: {{gender}}</li>
        <li>Party: {{party}}</li>
        <li>State Rank: {{stateRank}}</li>
        <li>Gov Track ID: {{govtrackID}}</li>
      </ul>
    </div>
    <div class = "col-4">
      <app-positions></app-positions>
    </div>
    <div class = "col-2"></div>
  </div>
</div>

