<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-2 d-flex align-items-center">
      <input type="text" id = "textBox" (keyup) = "onInput($event)" class="landingSearchBar" placeholder="Search for Candidates, Elections, or Sponsors">
    </div>
    <div class="col-2 d-flex justify-content-center">
      <div ngbDropdown class="d-inline-block">
        <button routerLinkActive="active" class="btn btn-light btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>{{dropdownSelect}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="selectCandidate()" id = "dropdownCandidate">Candidate</button>
          <button class="dropdown-item" (click)="selectElection()" id = "dropdownElection">Election</button>
          <button class="dropdown-item" (click)="selectDonor()" id = "dropdownSponsor">Donor</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button (click)="onSearch()" type="button" id="searchBtn" class="btn btn-light btn-outline-dark">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-2 d-flex align-items-center">
      <div id="invalidInput">Invalid Input</div>
    </div>
  </div>
</div>

