<div class="container-fluid justify-content-center">
  <div class="row d-flex h-25" >
    <div class="offset-1 col-2 d-flex justify-content-center align-items-center">
      <span routerLink="/" class="badge badge-pill badge-secondary">Home</span>
    </div>
  </div>
</div>
<div class = "container">
  <div class = "row d-flex h-50 align-items-center justify-content-center">
    <h1>{{billName}}</h1>
  </div>
  <br>
  <div class = "row">
    <div class = "col-2"></div>
    <div class = "col-4">
      <img src="../../assets/bill.jpg" alt="Bills" class="img-fluid img-thumbnail">
    </div>
    <div class = "col-4">
      <h3>Bill Information</h3>
      <ul>
        <li>Bill Sponsor: John Sarbanes</li>
        <li>Introduce Date: Jan 3, 2019</li>
        <li>Status: Ordered Reported on Feb 26, 2019

          The committees assigned to this bill sent it to the House or Senate as a whole for consideration on February 26, 2019.</li>
      </ul>
    </div>
    <div class = "col-2"></div>
  </div>
  <div class = "row">
    <div class = "col-2"></div>
    <div class = "col-4">
      <h3>Summary</h3>
      <p>To expand Americans' access to the ballot box, reduce the influence of big money in politics, and strengthen ethics rules for public servants, and for other purposes.</p>
    </div>
    <div class = "col-4">
      <h3>GovTrack Link</h3>
      <a href = "https://www.govtrack.us/congress/bills/116/hr1" target="_blank">H.R. 1: For the People Act of 2019</a>
    </div>
    <div class = "col-2"></div>
  </div>
</div>

