<div @enterScreen *ngIf="isFreshSearch" (@enterScreen.done)="onAnimationFinished($event)" class="fullsize">
  <div class="container-fluid justify-content-center">
    <div class="row d-flex h-25" >
      <div class="offset-1 col-2 d-flex justify-content-center align-items-center">
        <ul>
          <li><span routerLink="/about" class="badge badge-pill badge-secondary">About Us</span>
          </li>
          <li>
            <span routerLink="/candidate" class="badge badge-pill badge-secondary">Candidate Template</span>
          </li>
          <li>
            <span routerLink="/donor" class="badge badge-pill badge-secondary">Donor Template</span>
          </li>
          <li>
            <span routerLink="/bill" class="badge badge-pill badge-secondary">Bill Template</span>
          </li>
        </ul>
      </div>
      <div class="offset-1 col-4 d-flex justify-content-center align-items-end">
        <h1>Politipedia</h1>
      </div>
    </div>
    <div class="row d-flex h-50 align-items-center justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <app-search-bar (searchEmitter)="onSearch($event)" ></app-search-bar>
      </div>
    </div>
    <div class="row d-flex h-25 align-items-center justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <app-trending></app-trending>
      </div>
    </div>
  </div>
</div>

<div @enterScreen *ngIf="staleState" class="fullsize">
  <div class="container-fluid justify-content-center">
    <div class="row d-flex h-25 align-items-center" >
      <div class="col-12 d-flex justify-content-center ">
        <app-search-bar (searchEmitter)="onSearch($event)"></app-search-bar>
      </div>
    </div>
    <div class="row d-flex h-50 align-items-start">
      <div class="col-8 offset-2 d-flex justify-content-left">
        <app-elections-main></app-elections-main>
      </div>
    </div>
  </div>
</div>

