<div @enterScreen *ngIf="isFreshSearch" (@enterScreen.done)="onAnimationFinished($event)" class="fullsize">
  <div class="container-fluid justify-content-center">
    <div class="row d-flex h-25 align-items-end" >
      <div class="col-12 d-flex justify-content-center ">
        <h1>Politipedia</h1>
      </div>
    </div>
    <div class="row d-flex h-50 align-items-center justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <app-search-bar (searchEmitter)="onSearch($event)" ></app-search-bar>
      </div>
    </div>
    <div class="row d-flex h-25 align-items-center justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <app-trending></app-trending>
      </div>
    </div>
  </div>
</div>

<div @enterScreen *ngIf="staleState" class="fullsize">
  <div class="container-fluid justify-content-center">
    <div class="row d-flex h-25 align-items-center" >
      <div class="col-12 d-flex justify-content-center ">
        <app-search-bar (searchEmitter)="onSearch($event)"></app-search-bar>
      </div>
    </div>
    <div class="row d-flex h-50 align-items-start">
      <div class="col-10 offset-2 d-flex justify-content-left">
        <app-elections-main></app-elections-main>
      </div>
    </div>
  </div>
</div>

